<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/vendor/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/vendor/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/vendor/simple-line-icons.css" rel="stylesheet" />
    <link href="~/css/vendor/vendor.min.css" rel="stylesheet" />
    <link href="~/css/plugins/animate.css" rel="stylesheet" />
    <link href="~/css/plugins/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/plugins/plugins.min.css" rel="stylesheet" />
    <link href="~/css/plugins/swiper.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    @RenderBody()    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/vendor/vendor.min.js"></script>
    <script src="~/js/plugins/plugins.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
